



<section id='front-page'> 
<h1 id='frontpage-header'>Stock Trading Made For You <br> Made Simple and Easy</h1>
<p id='frontpage-p'>Try out this <strong> super easy</strong> and <strong>user friendly</strong> <br>
     stock trading tool.<strong> And it is for free :-)</strong></p>
<img src="/images/front-page4.jpg" alt="Front Page Image" id='frontpage-image'>
</section>
