



</section class="container"><h1 id='frontpage-header'>Stock Trading Made For You <br> Made Simple and Easy</h1> <img src="/images/front-page.jpg" alt="Front Page Image" id='frontpage-image'></section>