body {
  height: 100%;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#nav-bar {
  background-color: rgb(3, 19, 41);
  height: 60px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}


#logout-form {
  display: inline;
}
 
#logout-form button {
  width: 100px;
   color: white;
  height: 30px;
  background-color: transparent;
  border-style: none;
  font-size: 22px;
}


#front-page {
background-color: #031329;
width: 100%;
height: 1000px;
margin-top: 5px;
position: relative;
}

#frontpage-image {
 float: left;
width: 60%;
height: 80%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: 750px;
margin-top: 70px;
position: absolute;
}

#frontpage-header {
text-align: center;
text-transform: uppercase;
color: white;
position: absolute;
margin-top: 150px;
margin-left: 130px;
font-size: 30px;
line-height: 50px;
}

#frontpage-p {
text-align: center;
color: #aaaaaa;
position: absolute;
font-size: 25px;
margin-top: 280px;
margin-left: 120px;
display: block;
}


#depo {
text-align: center;
display: flex;
flex-direction: column;
width: 100%;
  }
#depo h1 {
  color: #444538;
  font-size: 45px;;
}

  #depo p {
color: #444538;
font-size: 23px;
font-weight: bold;
      }

  #depo form {
margin: 10px;
}

 #depo button{
 width: 400px; 
 background-color: #43a3e6;
  font-size: 20px;
  color: white;
  border: solid;
  border-color: #444538;
  border-style: outset;
  border-width: 1mm;
 }


 #depo input{
  width: 395px; 
   font-size: 20px; 
   margin-bottom: 5px;
  }
  
  #depo select{
  width: 400px; 
  font-size: 20px;
  margin-bottom: 8px;
    }
    

  #depo-table {
 text-align: center;
  }

  #depo-table tr {
  margin-right: 200px;
     }

 
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  text-align: center;
}

ul {
  height: 50px;
  padding: 1em, 1em;
  list-style-type: none;
}
ul li {
  line-height: 20px;
}
 
#to-right {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

#form h2 {
  display: flex;
  justify-content: center;
}
 
#to-left {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}
 
#to-left p a {
  color: white;
  font-weight: bold;
  font-size: 2em;
 
}


#signup-a {
  margin-right: 20px;
  margin-left: 200px;
  color: white;
}

#login-a {
  margin-right: 20px;
  color: white;
}

#buy-stock-a {
color: white;
}

#stock-overview-a {
  margin-left: 20px;
  color: white;
}

#signup-form {
  margin: 30px auto;
  width: 400px;
}
 
#signup-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
#signup-form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
}
 
#signup-form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
#signup-form h2 {
  color: #444538;
  font-size: 45px;
}
#signup-form p {
  color: #003300;
  font-size: 20px;
  font-weight: bold;
}

#login-form {
  margin: 30px auto;
  width: 400px;
}
 
#login-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
#login-form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
 
#login-form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
#login-form h2 {
  color: #444538;
  font-size: 45px;;
}
#login-form p {
  color: #003300;
  font-size: 20px;;
  font-weight: bold;
}

td, tr {
  padding: 5px;
  text-align:center;      
}

.sellPart{
width: 100px;
}

.stockHeader{
  margin-left: 25px;
}