  <h1>New Stock</h1>

<form action="/stock-search" method="GET">
  <label>
    <input type="text" name="stocks">
  </label>
  <button type="submit">Search for Stocks</button>
</form>

<div>

<div>
 <h2>{{symbolName}}</h2>
<ul>
  {{#each stockData}}
    <li>{{this}}</li>
  {{/each}}
</ul>
</div>

<hr />

<a href="/"><button>Back to home</button></a>